<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Ninja Gold</title>
</head>


<body>
    <p class="container m-3 font-weight-bold">Your Gold: {{ gold }}</p>

    <div class="d-flex justify-content-around w-100">
        <div class="container border border-dark m-5 p-5">
            <h4 class="text-center pb-1 font-weight-bold">Farm</h4>
            <p class="text-center pb-2">(Earns 10-20 Gold)</p>
            <form action="/process_money" method="post">
            <input type="hidden" name="building" value="farm" />
            <input type="submit" value="Find Gold!" class="d-block mx-auto"/>
            </form>
        </div>

        <div class="container border border-dark m-5 p-5">
            <h4 class="text-center pb-1 font-weight-bold">Cave</h4>
            <p class="text-center pb-2">(Earns 5-10 Gold)</p>
            <form action="/process_money" method="post">
            <input type="hidden" name="building" value="cave" />
            <input type="submit" value="Find Gold!" class="d-block mx-auto"/>
            </form>
        </div>

        <div class="container border border-dark m-5 p-5">
            <h4 class="text-center pb-1 font-weight-bold">House</h4>
            <p class="text-center pb-2">(Earns 2-5 Gold)</p>
            <form action="/process_money" method="post">
            <input type="hidden" name="building" value="house" />
            <input type="submit" value="Find Gold!" class="d-block mx-auto"/>
            </form>
        </div>

        <div class="container border border-dark m-5 p-5">
            <h4 class="text-center pb-1 font-weight-bold">Casino</h4>
            <p class="text-center pb-2">(Earns/Takes 0-50 Gold)</p>
            <form action="/process_money" method="post">
            <input type="hidden" name="building" value="casino" />
            <input type="submit" value="Find Gold!" class="d-block mx-auto"/>
            </form>
        </div>
    </div>

    <div style="height: 400px; overflow-y: scroll" class="activities container w-100 mh-50 border border-dark">
        <h5 class="font-weight-bold m-3">Activity Log:</h5>
        {% for entry in activity %}
            <p class="ml-3">{{ entry }}</p>
        {% endfor %}
    </div>

    



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>