.row{
    display: flex;
    margin: 10px 0px 10px 0px;
}

.col{
    background-color: teal;
    color: white;
    text-align: center;
    flex: 1;
    padding: 25px 0px 25px 0px;
    margin: 0px 5px 0px 5px;
}

.col-2{
    background-color: teal;
    color: white;
    text-align: center;
    flex: 2;
    padding: 25px 0px 25px 0px;
    margin: 0px 5px 0px 5px;
}

.col-3{
    background-color: teal;
    color: white;
    text-align: center;
    flex: 3;
    padding: 25px 0px 25px 0px;
    margin: 0px 5px 0px 5px;
}